<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  </head>
  <body>
    <section class="overlay">
			<h1>Sign Up</h1>
      <p>Create an account:</p>
      <form action="http://localhost:8000/search" method="POST">
        <label for="username">Username:</label>
        <br>
				<input id="" name="search" type="text" maxlength="15" required>
        
        
        <br>
        <input type="submit" value="Submit">
      </form>
    </section>
  </body>
</html>